.page {
    background-color: white;
}
.you-profile-header{
    width: 100vw;
    height: 25vh;
    background-color: green;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.username {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-left: 10%;
    padding-bottom: 5%;
    color: aliceblue;
}

.profile-header-mini-links {
    display:flex;
    justify-content: space-between;
    color: aliceblue;
    /* background-color: blue; */
    width: 140vh;
    padding-bottom: 3%;
}

.left-mini-links {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    /* background-color: pink; */
    width: 20%;
}

.right-mini-links {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    /* background-color: pink; */
    width: 20%;

}


.user-profile-photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 4 columns with equal width */
    gap: 15px; 
    flex-wrap: wrap;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 10%;
    /* margin-left: 10px; */
    /* height: 50px; */
    /* border: black solid 1px; */
    
  }
  


.user-photoimage {
    width: 100%;
    /* height: 100%; */
    /* max-height: 100%; */
    /* max-width: 100%; */
    object-fit: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap: 5px; */
}