.screen-box {
    margin-top: 0;
    margin-left: 0;
    box-sizing: border-box; 
    /* background-color: antiquewhite; */
}

.sign-up-form {
   width:"30vw";
    justify-content: "center";
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
}

.form {
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
    border: 1px solid black;
    display: inline-block;
    margin-top: 15%;
    margin-left: 40%;
    background-color: white;
}

.sign-up-btn {
    background-color: rgb(53, 144, 213);
    color: aliceblue;
}
