
.outerFormBox {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 4px solid salmon; */
    margin-top: 9%;
    margin-left: 37%;
    margin-right: 33%;
    font-size: 10px;
    /* width: 260px; */
    /* height: 40vh; */
    /* background-color: rgb(235, 30, 132); */
    /* padding: 4px; */
    /* border-radius: 5px; */
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); */
}

.sign-in-box {
    padding-left: 5px;
    padding-top: 20px;
    height: 53vh;
    width: 25vw;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    display:flex;
    background-color: rgb(10, 9, 10, .85);
    color: white;
    /* text-align: center; */
    
}

.form-logo {
    width: 90px;
    padding-bottom: 10px;
    margin-left: 45px;
}

h2 {
    margin-left: 35px;
}
/* .form-fields {
display: flex;
height: 48px;
border: purple solid 2px;
padding-top: 10px;
} */

.email-btn,
.password-btn {
padding-top: 20px;
margin-top: 10px;
}

.sign-in-btn,
.demo-sign-up-btn,
.already-a-member-sign-up {
  margin-top: 10px; /* Adjust this value as needed */
}

.sign-in-btn {
    border: 1px solid black;
    width: 16vw;
    height: 6vh;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(53, 144, 213);
    border-radius: 3px;
}

.demo-sign-up-btn {
    border: 1px solid black;
    width: 16vw;
    height: 6vh;
    border-radius: 5px;
    padding-top: 3px;
    color: aliceblue;
    background-color: rgb(53, 144, 213);
    border-radius: 3px;

}
.already-a-member-sign-up {
    color: rgb(235, 30, 132);
    margin-left: 14px;
}