
.outerFormBox {
    display: flex;
    border: 1px solid salmon;
    margin-top: 15%;
    margin-left: 40%;
    width: 300px;
    justify-content: center;
    background-color: white;
    font-size: 10px;
    align-items: center;

}

.signInButton {
   
    border: 1px solid black;
    width: 10vw;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(53, 144, 213);
    border-radius: 3px;
}

.signInBox {
    padding-left: 10px;
    padding-top: 10px;
    height: 30vh;
    width: 20vw;
    align-items: cent;
    flex-direction: column;
    display:flex;
    /* background-color: beige; */


}